.app-wrapper {
  max-width: 1200px;
  margin: 10px auto;
  display: grid;
  grid-template-areas: 
    "header header"
    "navigation profile"
    "footer footer";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 20% 1fr;
  grid-gap: 10px;
  height: 100vh;
  text-align: center;
  

}





/* ========[FOOTER]=========== */

.footer {
  grid-area: footer;
  background-color: gold;
  padding: 10px;
}

/* ========[NAVIGATION]=========== */






  